@model ProductDTO;

<div class="item">
    <div class="image-section">
        <img src="@Model.ImageUrl" alt="@Model.Title" />
        <div class="menu">
            <div class="icons">
                <button class="link"><i class="fa-regular fa-code-compare"></i></button>
                <button class="link"><i class="fa-regular fa-heart"></i></button>
                <button class="link"><i class="fa-regular fa-bag-shopping"></i></button>
            </div>
            <a class="btn-theme" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">QUICK VIEW</a>
        </div>
    </div>
    <div class="body-section">
        <div class="category">@Model.Category</div>
        <div class="name">@Model.Title</div>
        <partial name="~/Views/Shared/Partials/_StarRating.cshtml" model="@Model.StarRating" />
        <div class="price">@Model.Price kr</div>
    </div>
</div>

